.frame {
  width: 1200px;
  margin: 0 auto;
}
.btn-wrap {
  text-align: center;
}
.base-button {
  margin: 0;
  padding: 0;
  border: none; //去除边框
  outline: none; //消除默认点击蓝色边框效果
  width: 246px;
  height: 52px;
  background-image: linear-gradient(90deg, #fb6a69 0%, #e6403b 100%), linear-gradient(-18deg, #233975 0%, #2d4891 100%);
  background-blend-mode: normal, normal;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  border-radius: 26px;
  font-size: 22px;
  line-height: 44px;
  letter-spacing: 0px;
  color: #ffffff;
}
.body-wrap {
  font-family: MicrosoftYaHei-Bold;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
  .banner {
    width: 100%;
    height: 540px;
    background: url(../img/banner.jpg) no-repeat 0 0;
    position: relative;
    .search-wrap {
      position: absolute;
      top: 435px;
      left: 50%;
      transform: translateX(-50%);
      width: 1200px;
      height: 216px;
      padding-top: 30px;
      background-color: #f7f9fd;
      border-radius: 4px;
      .search-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 35px;
        .title-red {
          color: #ed4d4a;
        }
      }
      .radio-wrap {
        margin: 0 auto;
        width: 707px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        line-height: 44px;
        letter-spacing: 0px;
        color: #333333;
        li {
          &::before {
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 15px;
            content: '';
            visibility: visible;
            background-color: #ffffff;
            border: solid 1px #999999;
          }
          &:checked::before {
            width: 15px;
            height: 15px;
            border-radius: 15px;

            background-color: #ffa500;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
          }
          input[type='radio'] {
            display: none;
            // opacity: 0;
          }
        }
      }
      .input-wrap {
        .search {
          display: flex;
          width: 810px;
          margin: 0 auto;
          .search-input {
            box-sizing: border-box;
            width: 653px;
            height: 55px;
            background-color: #ffffff;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
            border-radius: 4px 0px 0px 4px;
            border: solid 2px #f86463;
            input {
              padding-left: 10px;
              height: 50px;
              width: 90%;
              box-sizing: border-box;
              box-shadow: none; /*去除阴影*/
              outline: none; /*聚焦input的蓝色边框*/
              resize: none; /*textarea 禁止拖拽*/
              border: none; /*去除边框*/
              -webkit-appearance: none; /*常用于IOS下移除原生样式*/
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
            }
            input::-webkit-input-placeholder {
              font-family: MicrosoftYaHei;
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              line-height: 44px;
              letter-spacing: 0px;
              color: #bbbbbb;
            }
            // input::-moz-placeholder{font-size: 16px; color: #999;}
            // input::-ms-input-placeholder{ font-size: 16px; color: #999;
          }
          button {
            margin: 0;
            padding: 0;
            border: none; //去除边框
            outline: none; //消除默认点击蓝色边框效果
            width: 185px;
            height: 55px;
            background-image: linear-gradient(90deg, #fb6a69 0%, #e6403b 100%),
              linear-gradient(-34deg, #233975 0%, #2d4891 100%);
            background-blend-mode: normal, normal;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
            border-radius: 0px 4px 4px 0px;
            font-family: MicrosoftYaHei;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 44px;
            letter-spacing: 0px;
            color: #ffffff;
            &:hover {
              cursor: pointer;
              // background-color: #e60e3a;
              background-image: linear-gradient(90deg, #e6403b 0%, #e60e3a 100%),
                linear-gradient(-34deg, #233975 0%, #2d4891 100%);
            }
          }
        }
      }
    }
  }
  .universal-wrap {
    margin: 0 auto;
    width: 1200px;
    margin: 200px auto 0px;
    .universal-img {
      display: block;
      margin: 0 auto 60px;
    }
    .img-list {
      display: flex;
      flex-wrap: wrap;

      li {
        .item-rwap {
          position: relative;
          img {
            display: block;
            width: 298px;
            height: 220px;
            border: 1px solid white;
          }
          .img-title {
            position: absolute;
            top: 22px;
            left: 20px;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0px;
            color: #ffffff;
          }

          .hover-status {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 298px;
            height: 220px;
            background-color: rgba(25, 11, 122, 0.8);

            p {
              padding: 50px 0 50px;
              text-align: center;
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 0px;
              color: rgba(255, 255, 255, 1);
            }
            .regist-btn {
              margin: 0 auto;
              text-align: center;
              width: 130px;
              height: 28px;
              border-radius: 14px;
              border: solid 1px #ff8180;
              font-size: 14px;
              line-height: 28px;
              letter-spacing: 0px;
              color: #ff8180;
              &:hover {
                cursor: pointer;
              }
            }
          }
          &:hover {
            .hover-status {
              display: block;
            }
          }
        }
      }
    }
    .universal-tips {
      font-size: 14px;
      line-height: 44px;
      letter-spacing: 0px;
      color: #999999;
      text-align: right;
    }
  }
}
