body {
  background: #fff;
  overflow-x: hidden;
}
img {
  display: block;
}
.frame {
  width: 1200px;
  margin: 0 auto;
}
.btn-wrap {
  text-align: center;
  margin: 40px 0 90px;
}
.base-red {
  color: #ed4d4a;
}
.base-button {
  margin: 0;
  padding: 0;
  border: none; //去除边框
  outline: none; //消除默认点击蓝色边框效果
  width: 246px;
  height: 52px;
  background-image: linear-gradient(90deg, #fb6a69 0%, #e6403b 100%), linear-gradient(-18deg, #233975 0%, #2d4891 100%);
  background-blend-mode: normal, normal;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  border-radius: 26px;
  font-size: 22px;
  line-height: 44px;
  letter-spacing: 0px;
  color: #ffffff;
  &:hover {
    cursor: pointer;
  }
}
.base-arrow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 37px;
  height: 37px;
}
.base-title {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-1 {
    display: block;
    width: 242px;
    height: 47px;
  }
  .title-2 {
    display: block;
    font-family: MicrosoftYaHei-Bold;
    font-size: 50px;
    line-height: 44px;
    letter-spacing: 0px;
    margin-top: -6px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .title-3 {
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 0.4;
  }
}
.base-input {
  padding-left: 10px;
  box-sizing: border-box;
  box-shadow: none; /*去除阴影*/
  outline: none; /*聚焦input的蓝色边框*/
  resize: none; /*textarea 禁止拖拽*/
  border: none; /*去除边框*/
  -webkit-appearance: none; /*常用于IOS下移除原生样式*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
  &::-webkit-input-placeholder {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    letter-spacing: 0px;
    color: #bbbbbb;
  }
}
.base-search {
  display: flex;
  width: 810px;
  margin: 0 auto;
  .search-input {
    box-sizing: border-box;
    width: 653px;
    height: 55px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    border-radius: 4px 0px 0px 4px;
    border: solid 2px #f86463;
    input {
      padding-left: 10px;
      height: 50px;
      width: 90%;
      box-sizing: border-box;
      box-shadow: none; /*去除阴影*/
      outline: none; /*聚焦input的蓝色边框*/
      resize: none; /*textarea 禁止拖拽*/
      border: none; /*去除边框*/
      -webkit-appearance: none; /*常用于IOS下移除原生样式*/
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
    }
    input::-webkit-input-placeholder {
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 44px;
      letter-spacing: 0px;
      color: #bbbbbb;
    }
  }
  button {
    margin: 0;
    padding: 0;
    border: none; //去除边框
    outline: none; //消除默认点击蓝色边框效果
    width: 185px;
    height: 55px;
    background-image: linear-gradient(90deg, #fb6a69 0%, #e6403b 100%),
      linear-gradient(-34deg, #233975 0%, #2d4891 100%);
    background-blend-mode: normal, normal;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
    border-radius: 0px 4px 4px 0px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 44px;
    letter-spacing: 0px;
    color: #ffffff;
    &:hover {
      cursor: pointer;
      // background-color: #e60e3a;
      background-image: linear-gradient(90deg, #e6403b 0%, #e60e3a 100%),
        linear-gradient(-34deg, #233975 0%, #2d4891 100%);
    }
  }
}

.body-wrap {
  font-family: MicrosoftYaHei-Bold;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #333333;
  .banner {
    width: 100%;
    height: 540px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    position: relative;
    .search-wrap {
      position: absolute;
      top: 435px;
      left: 50%;
      transform: translateX(-50%);
      width: 1200px;
      height: 216px;
      padding-top: 30px;
      background-color: #f7f9fd;
      border-radius: 4px;
      .search-title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 35px;
        .title-red {
          color: #ed4d4a;
        }
      }
      .radio-wrap {
        margin: 0 auto;
        width: 707px;
        align-items: center;
        font-family: MicrosoftYaHei;
        font-size: 14px;
        line-height: 44px;
        letter-spacing: 0px;
        color: #333333;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .check-box {
          label {
            display: inline-block;
            font-size: 16px;
            letter-spacing: 0px;
            color: #666666;
            margin-right: 20px;
            &::before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              border-radius: 2px;
              border: none;
              text-indent: 0.15em;
              line-height: 1;
              box-sizing: border-box;
              margin-right: 8px;
              background: url(../img/radio.png) no-repeat 0 0;
            }
            input {
              display: none;
            }
          }
          .selected {
            color: #ed4d4a;
            &::before {
              background: url(../img/radio-select.png) no-repeat 0 0;
            }
          }
        }
        .input {
          display: flex;
          align-items: center;
          .base-red {
            font-size: 30px;
          }
          .input-wrap {
            width: 303px;
            height: 47px;
            background-color: #ffffff;
            border-radius: 3px;
            border: solid 1px #c1c8d6;
            margin-left: 17px;
            .base-input {
              width: 100%;
              font-size: 16px;
              line-height: 44px;
              letter-spacing: 0px;
              color: #bbbbbb;
            }
          }
        }
      }
    }
  }
  .universal-wrap {
    margin: 0 auto;
    width: 1200px;
    margin: 200px auto 0px;
    .title-1 {
      width: 655px;
      height: 47px;
    }
    .title-2 {
      color: #333333;
    }
    .title-3 {
      color: #999999;
      margin-bottom: 62px;
    }
    .img-list {
      display: flex;
      flex-wrap: wrap;

      li {
        .item-rwap {
          position: relative;
          img {
            display: block;
            width: 298px;
            height: 220px;
            border: 1px solid white;
          }
          .img-title {
            position: absolute;
            top: 22px;
            left: 20px;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0px;
            color: #ffffff;
          }

          .hover-status {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 298px;
            height: 220px;
            background-color: rgba(25, 11, 122, 0.8);

            p {
              padding: 50px 0 50px;
              text-align: center;
              font-size: 18px;
              line-height: 30px;
              letter-spacing: 0px;
              color: rgba(255, 255, 255, 1);
            }
            .regist-btn {
              margin: 0 auto;
              text-align: center;
              width: 130px;
              height: 28px;
              border-radius: 14px;
              border: solid 1px #ff8180;
              font-size: 14px;
              line-height: 28px;
              letter-spacing: 0px;
              color: #ff8180;
              &:hover {
                cursor: pointer;
              }
            }
          }
          &:hover {
            .hover-status {
              display: block;
            }
          }
        }
      }
    }
    .universal-tips {
      font-size: 14px;
      line-height: 44px;
      letter-spacing: 0px;
      color: #999999;
      text-align: right;
    }
  }
  .oversea-wrap {
    position: relative;
    background-image: url(../img/oversea.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 54px;
    padding-bottom: 90px;
    margin-bottom: 50px;
    .base-title {
      .title-3 {
        margin-bottom: 82px;
      }
    }
    .handle-wrap {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .handle-l {
        width: 710px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .handle-item {
          width: 340px;
          margin-bottom: 30px;
          .title-wrap {
            position: relative;
            img {
              width: 340px;
              height: 121px;
            }
            .masking {
              position: absolute;
              width: 340px;
              height: 121px;
              top: 0;
              left: 0;
              background-image: linear-gradient(#201266, #201266), linear-gradient(#190fe1, #190fe1);
              background-blend-mode: normal, normal;
              opacity: 0.6;
            }
            span {
              font-size: 30px;
              color: #ffffff;
              display: block;
              width: 100%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              text-align: center;
            }
          }
          .content {
            background-color: #fff;
            padding: 29px 0;
            text-align: center;
            p {
              text-align: center;
              font-size: 16px;
              line-height: 26px;
              letter-spacing: 0px;
              color: #999999;
              margin-bottom: 38px;
            }
            a {
              text-decoration: none;
              font-size: 16px;
              letter-spacing: 0px;
              color: #ed4d4a;
            }
          }
        }
      }
      .handle-r {
        width: 435px;
        .title-wrap {
          background-color: #4a0fe1;
          .title {
            text-align: center;
            padding: 14px 0;
            .build {
              display: inline-block;
              width: 36px;
              height: 36px;
              background-color: #2e0695;
              border-radius: 100%;
              img {
                vertical-align: middle;
                width: 18px;
                height: 18px;
                padding: 9px;
                display: inline;
              }
            }
            .title-text {
              display: inline-block;
              vertical-align: middle;
              font-size: 24px;
              // line-height: 44px;
              letter-spacing: 0px;
              color: #ffffff;
            }
          }
        }
        .form-wrap {
          padding: 40px;
          background-color: #fff;
          form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .check-box {
              label {
                display: inline-block;
                width: 48%;
                font-size: 16px;
                letter-spacing: 0px;
                margin-bottom: 25px;
                color: #666666;
                &::before {
                  content: '';
                  display: inline-block;
                  vertical-align: middle;
                  width: 16px;
                  height: 16px;
                  border-radius: 2px;
                  border: none;
                  text-indent: 0.15em;
                  line-height: 1;
                  box-sizing: border-box;
                  margin-right: 8px;
                  background: url(../img/no-select-square.png) no-repeat 0 0;
                }
                input {
                  display: none;
                }
              }
              .selected {
                &::before {
                  background: url(../img/selected-square.png) no-repeat 0 0;
                }
              }
            }
            .input {
              display: flex;
              align-items: center;
              .base-red {
                font-size: 30px;
              }
              .input-wrap {
                width: 303px;
                height: 47px;
                background-color: #ffffff;
                border-radius: 3px;
                border: solid 1px #c1c8d6;
                margin-left: 17px;
                .base-input {
                  width: 100%;
                  font-size: 16px;
                  line-height: 44px;
                  letter-spacing: 0px;
                  color: #bbbbbb;
                }
              }
            }
          }
          .btn-wrap {
            margin: 30px auto 0;
          }
          .little-tips {
            margin: 0 auto;
            font-size: 14px;
            line-height: 43px;
            letter-spacing: 0px;
            color: #999999;
          }
        }
      }
    }
  }
  .standard-wrap {
    .base-title {
      .title-1 {
        width: 598px;
        height: 47px;
      }
      .title-2 {
        color: #333333;
      }
      .title-3 {
        color: #999999;
        margin-bottom: 83px;
      }
    }
    .flow-wrap {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .flow-item {
        .flow-title {
          display: flex;
          margin-bottom: 30px;
          img {
            width: 70px;
            height: 70px;
            margin-right: 20px;
          }
          .title-text {
            font-size: 30px;
            line-height: 35px;
            letter-spacing: 0px;
            color: #333333;
          }
        }
        .flow-list {
          font-size: 16px;
          line-height: 34px;
          letter-spacing: 0px;
          color: #999999;
        }
      }
      .flow-arrow {
        padding-top: 20px;
        width: 40px;
        height: 26px;
      }
    }
    .btn-wrap {
      width: 1200px;
      margin: 0 auto;
      margin: 60px auto 66px;
    }
  }
  .lawyer-wrap {
    width: 1200px;
    margin: 0px auto 0px;
    .base-title {
      .title-1 {
        width: 723px;
        height: 47px;
      }
      .title-2 {
        color: #333333;
      }
      .title-3 {
        color: #999999;
        margin-bottom: 83px;
      }
    }
    .my-swiper {
      position: relative;
      .swiper-button-prev,
      .swiper-button-next {
        width: 30px;
        height: 60px;
        color: #fff;
        background-color: #cccccc;
        &:active,
        &:hover {
          background-color: #ed4d4a;
        }
      }
      .swiper-button-prev {
        left: -35px;
      }
      .swiper-button-next {
        right: -35px;
      }
      .swiper {
        width: 1200px;
        // height: 300px;
        .swiper-wrapper {
          .swiper-slide {
            display: flex;
            justify-content: space-around;
            .lawyer {
              width: 291px;
              height: 650px;
              background-color: #e7e9ee;
              .content {
                padding: 30px 30px 0;
                background-color: #e7e9ee;
                .name {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  font-size: 26px;
                  // line-height: 44px;
                  letter-spacing: 0px;
                  color: #333333;
                  margin-bottom: 30px;
                  &::after {
                    margin-top: 10px;
                    content: '';
                    display: block;
                    width: 21px;
                    height: 3px;
                    background-color: #ed4d4a;
                  }
                }
                .introduction {
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0px;
                  color: #999999;
                  .int-begin {
                    color: #666666;
                  }
                }
              }
            }
          }
        }
      }
    }
    .btn-wrap {
      margin-top: 70px;
    }
  }
  .regist-wrap {
    position: relative;
    background-image: url(../img/regist.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 54px;
    padding-bottom: 90px;
    // margin-bottom: 50px;
    .base-title {
      .title-1 {
        width: 287px;
        height: 47px;
      }
      .title-3 {
        margin-bottom: 70px;
      }
    }
    .reg-content {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: flex;
        .left-list {
          box-sizing: border-box;
          background-color: #1b015a;
          opacity: 0.8;
          width: 363px;
          padding: 15px 20px;
          &:first-child {
            margin-right: 10px;
          }
          li {
            color: #fff;
            // padding: 20px 0;
            font-size: 16px;
            line-height: 66px;
            letter-spacing: 0px;
            opacity: 0.8;
            border-bottom: 1px dotted #fff;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
      .right {
        width: 381px;
        // height: 295px;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px 40px 30px 20px;
        span {
          display: block;
          text-align: center;
          font-weight: bold;
          font-size: 18px;
          line-height: 44px;
          letter-spacing: 0px;
          color: #333333;
          margin-bottom: 30px;
        }
        textarea {
          width: 304px;
          height: 98px;
          box-sizing: border-box;
          resize: none;
          width: 100%;
          background-color: #ffffff;
          border-radius: 3px;
          border: solid 1px #c1c8d6;
          padding: 10px;
          outline: none;
          font-size: 16px;
          color: #bbbbbb;
          margin-bottom: 19px;
          &:focus {
            border: solid 1px #c1c8d6;
          }
        }
        .base-search {
          width: auto;
          display: flex;
          margin: 0 auto;
          align-items: center;
          .must {
            font-size: 40px;
            line-height: 40px;
            padding: 10px 10px 0 0;
          }
          .search-input {
            width: 266px;
            height: 50px;
            input {
              width: 100%;
              height: 46px;
            }
            input::-webkit-input-placeholder {
            }
          }
          button {
            height: 50px;
            width: 87px;
            font-size: 16px;
            line-height: 44px;
            letter-spacing: 0px;
            color: #ffffff;
          }
        }
      }
    }
    .base-arrow {
      top: -20px;
    }
  }
  .reliable-wrap {
    position: relative;
    background-image: url(../img/hold-on.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 54px;
    padding-bottom: 90px;
    margin-bottom: 50px;
    height: 680px;
    .base-title {
      .title-1 {
        width: 229px;
        height: 47px;
      }
      .title-2 {
        color: #333333;
      }
      .title-3 {
        color: #999999;
      }
    }
  }
}
.mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  .base-dialog {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 5px solid #5547df;
    width: 483px;
    padding: 0 0px 40px;
    .close {
      text-align: right;
      img {
        display: inline-block;
        padding: 12px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .title {
      text-align: center;
      font-size: 24px;
      letter-spacing: 0px;
      color: #333333;
      margin-bottom: 30px;
      .slogan {
        font-weight: bold;
        margin-bottom: 12px;
        display: inline-block;
      }
      .pub-title {
        font-size: 16px;
        letter-spacing: 0px;
        color: #bbbbbb;
      }
    }
    .success-title {
      .success {
        display: inline-block;
        margin-bottom: 20px;
        img {
          vertical-align: text-top;
          display: inline-block;
        }
      }
    }
    form {
      padding: 0 50px;
      margin-bottom: 50px;
      .form-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .name {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0px;
          color: #666666;
          margin-right: 5px;
          // width: 200px;
          flex-grow: 1;
          text-align: right;
          .base-red {
            font-size: 20px;
            line-height: 22px;
          }
        }
        .select-wrap {
          position: relative;
          select {
            width: 277px;
            appearance: none;
            outline: none;
            background-color: #ffffff;
            border-radius: 2px;
            border: solid 2px #dcdcdc;
            padding: 10px 9px;
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0px;
            color: #333333;
          }
          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            display: inline-block;
          }
        }
        .required {
          position: relative;
          .error {
            display: none;
            font-size: 14px;
            position: absolute;
            bottom: -20px;
            left: 0;
          }
        }
        .base-input {
          width: 277px;
          border-radius: 2px;
          border: solid 2px #dcdcdc;
          padding: 10px 9px;
        }
      }
    }
    .btn-wrap {
      margin: 0px auto;
    }
  }
  .submit-success {
    display: none;
  }
}
